{% autoescape off %}
Hola,

Has solicitado restablecer tu contraseña para tu cuenta en L&M Exotic Fruit.

Por favor, visita el siguiente enlace para elegir una nueva contraseña:

{{ protocol }}://{{ domain }}{% url 'autenticacion:password_reset_confirm' uidb64=uid token=token %}

Este enlace solo puede usarse una vez. Si necesitas restablecer tu contraseña nuevamente, por favor visita {{ protocol }}://{{ domain }} y solicita un nuevo enlace.

Si no realizaste esta solicitud, puedes ignorar este correo.

Atentamente,
El equipo de L&M Exotic Fruit
{% endautoescape %}